body {
    background-color: #ba6f54;
    font-family: 'Open Sans', sans-serif;
}


/* шапка */
header {
    background-color: #F0D2BB;
    border-bottom: 5px solid #f7b186;
    color: white;
}

#navigation {
    background-color: #F2B996;
    border: 5px solid #f7b186;
    list-style: none;
}

    #navigation li:hover {
        background-color: #fbd5be;
        transition: 0.4s ease-in-out;
    }

/* ссылки */
#hyperlinks {
    background-color: #F2B996;
    border: 5px solid #f7b186;
    color: white;
}

    #hyperlinks li {
        transition: 0.5s ease-in-out;
    }

        #hyperlinks li:hover {
            background-color: #F2B996;
        }

/* форма */

form {
    color: white;
    background-color: #F2B996;
    border: 5px solid #f7b186;
}


/* дно */
#footer {
    border-top: 5px solid #f7b186;
    background-color: #F0D2BB;
    color: white;
}

/* таблица */

table {
    border-collapse: collapse;
    border: 5px solid #f7b186;
}

#tt {
    background-color: #ffd4c1;
}

td {
    transition: 0.8s ease-in-out;
}

tr:nth-child(odd) {
    color: white;
    background-color: #ffd4c1;
}

tr:nth-child(even) {
    color: white;
    background-color: #e0ab8b;
}

td:hover {
    background-color: #c7645b;
}

/* прочее */

a {
    text-decoration: none;
    transition: 0.7s ease-in-out;
    color: white;
}

    a:hover {
        text-decoration: none;
        color: rgb(131, 0, 0);
    }
