
/* основа */
* {
	маржа:0;
	набивка:0;
}

.html {
	цвет фона:#ba6f54;
	цвет: белый; /* цвет любых слов, кроме ссылок */
	семейство шрифтов: Pompadur, 'Comic Sans MS', курсив;
}

/* верхняя шапка */
#заголовок {
	фон-цвет:#F0D2BB;
	размер шрифта:24px;
}

. header_name {
	набивка:50пикселей;
}

. лого {
	float:левый;
	отступ справа: 20пикселей;
}

/* навигация */
#навигация {
	фон-цвет:#F2B996;
	граница:8пикселей# F7b186;
	заполнение:15пикселей;
	нижнее поле:20пикселей;
}

#навул {
	стиль списка:нет;
	дисплей:флекс;
	justify-content: space-around;
	размер шрифта:30px;
}

/* в основном ссылки */
#заголовок,#гиперссылки {
	заполнение:5пикселей;
	нижнее поле:20пикселей;
	заполнение:30пикселей;
}

#гиперссылки {
	фон-цвет:#F2B996;
	граница:8пикселей# F7b186;
}

/* таблица */
стол {
	граница:8пикселейсплошной#F2B996;
	выравнивание текста:по центру;
	граница-сворачивание:свернуть;
}

тд,т {
	ширина:70px;
	высота:25px;
	заполнение:3пикселя;
	размер шрифта:15px;
}

tr:nth-child(нечетный) {
	цвет фона:#ffd4c1;
}

tr:nth-ребенок(даже) {
	фон-цвет:#e0ab8b;
}

/* форма */

#форма {
	фон-цвет:#F2B996;
	граница:8пикселей# F7b186;
	поле:0авто;
}

/* подвал ссайта */
#нижний колонтитул {
	фон-цвет:#F0D2BB;	
	заполнение:10пикселей;
	верхнее поле:20пикселей;
	размер шрифта:25px;
}

/* дополнительно */
a {
	цвет: белый;
	оформление текста:нет;
	переход: 0,7слегкость выхода;
}

a:наведение {
	цвет: rgb (131,0,0);
}

. контейнер {
	макс-ширина: 900px;
	поле:0авто;
	переполнение: авто;
}
